body,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Dm Sans", sans-serif;
  color: #333;
  letter-spacing: 1px;
}

h1 {
  font-size: 27px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

strong {
  font-size: 17px;
  font-weight: 500;
}

label,
p,
th,
td,
.btn {
  font-size: 14px;
  font-weight: 400;
}

p {
  /* opacity: 0.8; */
  color: rgba(51, 51, 51, 0.75);
}

a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

li {
  list-style: none;
}

.fixed-width {
  max-width: 1306px;
  /* max-width: 1246px; */
  margin: auto;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed-padding {
  padding: 20px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.round-corner {
  border-radius: 5px;
}

.round-corner-colored {
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

.container-name {
  margin-bottom: 30px;
}

.table-container {
  max-width: 100%;
  position: relative;
  overflow: auto;
}

.table-container .table thead {
  position: absolute;
  top: 0;
  position: sticky;
  z-index: 1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  /* min-width: 350px; */
  max-width: 100%;
}

table tr th {
  border-right: 1px solid #08182f;
  border-bottom: 1px solid #08182f;
  padding: 15px;
  text-transform: uppercase;
}

table tr td {
  border-right: 1px solid rgba(51, 51, 51, 0.25);
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
  padding: 15px;
  background-color: white;
}
table tr th:first-child {
  border-left: 1px solid #08182f;
}

table tr td:first-child {
  border-left: 1px solid rgba(51, 51, 51, 0.25);
}
table tr th {
  background: #08182f;
  border-top: 1px solid #08182f;
  text-align: left;
  color: white;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 0px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}

.table-container {
  max-height: 327px;
  /* border-bottom: 1px solid rgba(51, 51, 51, 0.25); */
}

.btn {
  padding: 5px 15px;
  width: fit-content;
  block-size: fit-content;
  border: none;
}

/*=============== 
      HEADER
=================*/

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #08182f;
  color: white;
  /* display: none; */
  z-index: 2;
}

.header-container .page-header {
  height: 100%;
  padding: 0 30px;
}

/*=====================
      HEADER-logo
=======================*/

.header-container .page-header .logo-container {
  height: 100%;
}

.header-container .page-header .logo-container img {
  width: 35px;
  height: 35px;
}

.header-container .page-header .logo-container .logo-name {
  color: white;
  line-height: 50px;
}

/*=====================
      HEADER-nav
=======================*/

.header-container .page-header .nav-container {
  height: 100%;
  line-height: 50px;
}

.header-container .page-header .nav-container .links {
  display: flex;
}

.header-container .page-header .nav-container .links li {
  margin-right: 5px;
  height: 45px;
  transition: all 0.15s;
}

.header-container .page-header .nav-container .links li a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  height: 100%;
  padding: 5px 20px;
}

.header-container .page-header .nav-container .links li:hover,
.header-container .page-header .nav-container .links .active {
  border-bottom: 3px solid rgba(250, 250, 250, 0.5);
}

.header-container .page-header .nav-container .links .active a {
  font-weight: 500;
}

/*=====================
      HEADER-nav-aside
=======================*/

.header-container .page-header .menu-bar {
  display: none;
}

.header-container .page-header .nav-container .sidebar-logo {
  display: none;
}

/*=====================
      HEADER-other
=======================*/

.header-container .page-header .other-container {
  height: 50px;
  position: relative;
}

/*======================================
      HEADER-other-search-focus
========================================*/

.header-container .page-header .other-container .search-focus {
  position: relative;
  margin-right: 5px;
}

.header-container .page-header .other-container .search-focus input {
  padding: 5px;
  width: 35px;
  height: 30px;
  background: none;
  font-size: 14px;
  color: white;
  border: none;
  transition: 0.5s;
  letter-spacing: 1px;
  font-weight: 400;
}

.header-container .page-header .other-container .search-focus:hover input {
  width: 200px;
  background: rgba(250, 250, 250, 0.2);
  /* border-radius: 5px; */
  height: 30px;
  border: 1px solid white;
  outline: none;
}

.header-container .page-header .other-container .search-focus i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  transition: 0.2s;
  line-height: 15px;
}

.header-container .page-header .other-container .search-focus:hover i {
  opacity: 0;
  z-index: -1;
}

/*======================================
      HEADER-other-add-button
========================================*/

.header-container .page-header .other-container .add-button {
  width: 30px;
  margin-right: 10px;
  line-height: 35px;
  text-align: center;
  border: none;
  background: none;
}

.header-container .page-header .other-container .add-button a i {
  font-size: 14px;
  color: white;
}

/*======================================
      HEADER-other-profile-sub-menu
========================================*/

.header-container .page-header .other-container .profile-dropdown {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  border-radius: 50%;
}

.header-container .page-header .other-container .profile-dropdown button {
  border-radius: 100%;
  border: none;
  width: 100%;
  height: 100%;
}

.header-container .page-header .other-container .profile-dropdown button img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu {
  background-color: white;
  color: #333;
  position: absolute;
  top: 110%;
  right: 0%;
  width: 300px;
  /* height: fit-content; */
  max-height: 0px;
  line-height: 40px;
  /* border-radius: 5px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.35s;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown:hover
  .profile-sub-menu,
.header-container
  .page-header
  .other-container
  .profile-dropdown:focus
  .profile-sub-menu {
  /* display: block; */
  max-height: fit-content;
  visibility: visible;
  opacity: 1;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #08182f;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details
  img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details
  .user-details {
  text-align: left;
  line-height: 20px;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details
  .user-details
  .user-position {
  margin-top: 5px;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details
  .user-details
  .user-name,
.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .profile-details
  .user-details
  .user-position {
  display: block;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .sub-menu-options {
  padding: 0 20px;
  border: 1px solid rgba(8, 24, 47, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .sub-menu-options
  li {
  padding: 0 10px 0 10px;
  margin: 10px 0;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .sub-menu-options
  li
  a {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.15s;
}

.header-container
  .page-header
  .other-container
  .profile-dropdown
  .profile-sub-menu
  .sub-menu-options
  li:hover
  a {
  font-weight: bold;
}

/*=============== 
      CONTENT
=================*/

.content-container {
  margin-top: 50px;
  background-color: white;
  color: #333;
  width: 100%;
}

.content-container {
  position: relative;
  /* left: 30px; */
  z-index: 1;
}

.content-container .page-content {
  padding: 20px 30px 20px 30px;
  /* height: 100vh; */
}

.content-container .page-content .page-info {
  width: 100%;
}

.content-container .page-content .page-info .page-description {
  margin-top: 5px;
}

.content-container .page-content .main-content {
  margin-top: 30px;
  width: 100%;
}

/*============================
      CONTENT-dashboard
============================*/

.content-container .page-content .dashboard-grid {
  display: grid;
  max-width: 1246px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 418px 383px;
  grid-gap: 15px;
}

/*=====================================
      CONTENT-dashboard-statistics
=====================================*/

.content-container .page-content .main-content .statistics-grid {
  width: 100%;
  /* max-height: 445px; */
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .greetings-message {
  width: 100%;
  padding: 5px 15px 5px 15px;
  color: #333;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .greetings-message
  .greeting {
  margin-bottom: 5px;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .statistics-container {
  background-color: #08182f;
  margin-top: 15px;
  color: white;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .statistics-container
  .statistics {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .statistics-container
  .statistics
  .statistic {
  background-color: white;
  color: #333;
  padding: 20px;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .statistics-container
  .statistics
  .statistic
  .icon-container {
  background-color: rgba(8, 24, 47, 0.5);
  color: white;
  padding: 8px;
  width: 30px;
  height: 30px;
  /* align-items: center;
  justify-content: center; */
  position: relative;
  float: right;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.content-container
  .page-content
  .main-content
  .statistics-grid
  .statistics-container
  .statistics
  .statistic
  .icon-container
  .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  z-index: 1;
}

/*=========================================
      CONTENT-dashboard-latest-records
=========================================*/

.content-container .page-content .main-content .latest-records-grid {
  max-width: 100%;
  color: #333;
}

.content-container
  .page-content
  .main-content
  .latest-records-grid
  .table-container,
.content-container .page-content .main-content .latest-records-grid .table {
  width: 100%;
}

/*=====================================
      CONTENT-dashboard-activities
=====================================*/

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container {
  max-height: 290px;
  overflow-y: auto;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity {
  border: 1px solid rgba(51, 51, 51, 0.25);
  padding: 10px;
  margin-bottom: 15px;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity:last-child {
  margin-bottom: 0;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity
  .activity-left {
  display: flex;
  align-items: center;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity
  .activity-left
  .icon-container {
  width: 33px;
  height: 33px;
  background-color: rgba(8, 24, 47, 0.7);
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  margin-right: 15px;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity
  .activity-left
  .icon-container
  .icon {
  font-size: 17px;
  color: white;
  line-height: 33px;
}

.content-container
  .page-content
  .dashboard-grid
  .activities-grid
  .activity-container
  .activities
  .activity
  .activity-left
  .activity-description
  .activity-tag {
  padding: 3px 20px 3px 20px;
  background-color: rgba(8, 24, 47, 0.25);
  width: fit-content;
  block-size: fit-content;
  margin-top: 5px;
}

/*========================================
      CONTENT-dashboard-map-overview
========================================*/

.content-container
  .page-content
  .dashboard-grid
  .map-overview-grid
  .map-overview {
  text-align: center;
  position: relative;
  /* background-image: url(/assets/images/png-clipart-printer-friendly-cemetery-history-computer-program-printing-bonaventure-cemetery-map-printerfriendly-cemetery.png); */
}

.content-container
  .page-content
  .dashboard-grid
  .map-overview-grid
  .map-overview
  .map-container
  img {
  /* width: 100%; */
  width: 100%;
  height: 283px;
  object-fit: cover;
}

.content-container
  .page-content
  .dashboard-grid
  .map-overview-grid
  .map-overview
  .open-map {
  background-color: #08182f;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*=============== 
      MEDIA
=================*/

@media (max-width: 1000px) {
  .content-container .page-content .dashboard-grid {
    max-width: 1246px;
    grid-template-columns: 1fr;
    grid-template-rows: 344px 418px 383px 383px;
    transition: all 0.5s ease;
  }
}

@media (max-width: 800px) {
  .header-container .page-header .nav-container .links li a {
    padding: 5px 10px;
  }
}

@media (max-width: 650px) {
  /*=============== 
      MEDIA-header
=================*/

  .header-container .page-header .menu-bar {
    display: block;
  }

  .header-container .page-header .nav-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    width: 100%;
    background-color: #08182f;
    padding: 20px;
    line-height: 40px;
    transition: all 0.5s ease;
    z-index: 9999;
  }

  .header-container .page-header .nav-container .sidebar-logo {
    display: flex;
  }

  .header-container
    .page-header
    .nav-container
    .sidebar-logo
    .logo-container
    img {
    width: 35px;
    height: 35px;
  }

  .header-container
    .page-header
    .nav-container
    .sidebar-logo
    .logo-container
    .logo-name {
    color: white;
    line-height: 50px;
  }

  .header-container .page-header .menu-bar,
  .header-container .page-header .nav-container .sidebar-logo i {
    color: white;
    font-size: 17px;
  }

  .header-container .page-header .nav-container .links {
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  .header-container .page-header .nav-container .links li {
    margin-right: 0;
    margin-bottom: 5px;
    padding: 5px 20px;
  }

  .header-container .page-header .nav-container .links li:last-child {
    margin-bottom: 0;
  }

  .header-container .page-header .nav-container .links li:hover,
  .header-container .page-header .nav-container .links .active {
    border-bottom: none;
    border-left: 5px solid rgba(250, 250, 250, 0.5);
  }

  .header-container .page-header .nav-container .links li a {
    padding: 0;
  }

  .content-container .page-content .dashboard-grid {
    display: block;
  }

  .content-container .page-content .dashboard-grid .latest-records-grid,
  .content-container .page-content .dashboard-grid .activities-grid,
  .content-container .page-content .dashboard-grid .map-overview-grid {
    margin-top: 15px;
  }
}
